@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,300&family=Oswald&family=Quicksand:wght@300;600&display=swap');

@media screen and (max-width: 530px) {
    body {
        width: 100vw;
        height: 100vh;
        background: linear-gradient(120deg, rgb(46, 38, 38), rgb(11, 43, 83));
        color: #ffffff;
        box-sizing: border-box;
    }

    nav > .nav-links,button{
        display: none;
    }

    
}

@media screen {
    * {
        margin: 0;
        padding: 0;
        outline: none;
        border: none;
    }

    body {
        width: 100vw;
        height: 100vh;
        background: linear-gradient(140deg, rgba(66,73,141,1) 0%, rgba(14,8,52,1) 70%);
        color: #ffffff;
        box-sizing: border-box;
        font-family: Poppins, sans-serif;
    }

    img{
        width: 100%;
        display: flex;
    }

    a{
        text-decoration: none;
    }

    nav{
        max-width: 1200px;
        margin: auto;
        padding: 2rem 1rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 2rem;
    }

    .nav-logo{
        max-width: 80px;
    }

    .nav-links{
        list-style-type: none;
        display: flex;
        align-items: center;
        gap: 3rem;
    }

    .link a{
        position: relative;
        padding-bottom: 0.75rem;
        color: #fff;
    }

    .link a::after{
        content: "";
        position: absolute;
        height: 2px;
        width: 0;
        bottom: 0;
        left: 0;
        background-color: rgba(255, 0, 0, 0.452);
        transition: all 0.5s ease;
    }

    .link a:hover::after{
        width: 100%;
    }

    .btn{
        padding: 1rem 2rem;
        font-size: 1rem;
        color: #fff;
        background-color: rgba(255, 0, 0, 0.452);
        cursor: pointer;
        border-radius: 10px;
        transition: 0.3s all;
    }

    .btn:hover{
        background-color:rgba(255, 0, 0, 0.534) ;
    }

    .container{
        max-width: 1200px;
        margin: auto;
        padding: 5rem 2rem;
    }

    .container h2{
        line-height: 1em;
        margin-bottom: 2rem;
        font-size: 35px;
    }


    h1 > span{
        -webkit-text-fill-color: transparent;
        -webkit-text-stroke: 1px #fff;
    }

    .head{
        text-align: center;
    }

    .card a img{
        width: 30px;
        margin: auto;
    }

    .card a img:hover{
        filter: drop-shadow(0px 0px 8px rgba(255, 0, 0, 0.534));
    }
    
    .caixas{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 2rem;
    }

    .card p{
        margin-bottom: 1rem;
    }

    .card{
        background-color: #7c7c7c8e;
        padding: 10px;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        border-radius: 10px;
        border: 1px solid rgba(255, 0, 0, 0.534);
        height: 100px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.548);
    }
}

@media screen and (max-width: 768px) {
    * {
        margin: 0;
        padding: 0;
        outline: none;
        border: none;
    }

    body {
        width: 100vw;
        height: 100vh;
        background: linear-gradient(140deg, rgba(66,73,141,1) 0%, rgba(14,8,52,1) 70%);
        color: #ffffff;
        box-sizing: border-box;
        font-family: Poppins, sans-serif;
    }

    img{
        width: 100%;
        display: flex;
    }

    a{
        text-decoration: none;
    }

    nav{
        max-width: 1200px;
        margin: auto;
        padding: 2rem 1rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 2rem;
    }

    .nav-logo{
        max-width: 80px;
    }

    .nav-links{
        list-style-type: none;
        display: flex;
        align-items: center;
        gap: 3rem;
    }

    .link a{
        position: relative;
        padding-bottom: 0.75rem;
        color: #fff;
    }
}